@import url('https://fonts.googleapis.com/css2?family=Ingrid+Darling&family=Kurale&display=swap');

/* GLOBAL */

body {
    font-family: Kurale;
    font-weight: 400;
}

section {
    background: linear-gradient(181.64deg, rgba(139, 74, 35, 0.63) 2.206%, rgba(236, 200, 146, 0.88) 67.817%);
    /* height: 100vh; */
}

.container {
    max-width: calc(1440px + 100px);
    margin: 0 auto;
    padding: 0 50px;   
}





.start {
    display: flex;
    justify-content: space-between; 
}

.start_sides {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
    padding: 20px 25px 20px 20px;
    background: rgba(139, 74, 35, 0.21);
}

.start_img {
    width: 150px;
    height: 200px;
    border-radius: 17px;
    box-shadow: 10px 3px 5px 0px rgba(0, 0, 0, 0.5)
}

.start_center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.start_logo {
    margin-top: 45px;
    padding-bottom: 90px;
    width: 640px;
}

.start_button {
    font-size: 27px;
    line-height: 35px;
    padding: 20px 100px;
    border: none;    
    border-radius: 75px;
    box-shadow: 10px 15px 7.5px 1px rgba(0, 0, 0, 0.25);
    background: rgba(228, 220, 207, 0.87);
}

.start_company {
    padding-top: 145px;
    font-size: 25px;
    color: rgba(18, 18, 18, 0.64);
}

.catalog1 {
    display: flex;
    justify-content: space-between;
}

.catalog1_main {
    display: flex;
    flex-direction: column;
}

.search_input {
    border: none;
    border-radius: 19px;
    background-color: rgba(139, 74, 35, 0.21);
}

.search_input::placeholder {
    color: ;
}

.free_list {
    display: flex;
    background-image: url('/img/ellipse_бесплатные_книги.png');
}